.hero-section{
    width: 100%;
    background-image: url(../../assets/images/hero-background-img.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
    background-blend-mode: color;
    background-color: rgba(0, 0, 0, 0.60);
}