.OurClients{
    .swiper-pagination{
        margin-bottom: 5px;
      }
      
      .swiper-pagination-bullet{
        width: 40px;
        height: 8px;
        background-color: #000;
        border-radius: 2px;
        margin-bottom: 100px;
      }
      
      .swiper{
        min-height: 180px;
      }
      
      
}



