.demoBtn{

    button{
        display: block;
      
        line-height: 40px;
        font-size: 18px;
        font-family: sans-serif;
        text-decoration: none;
        color: #fff;
        border: 1px solid #000;
        letter-spacing: 2px;
        text-align: center;
        position: relative;
        transition: all .35s;
      }
      
      button span{
        position: relative;
        z-index: 2;
      }
      
      button:after{
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background: #fff;
        transition: all .35s;
        border-radius: 8px;
      }
      
      button:hover{
        color: #000;
      }
      
      button:hover:after{
        width: 100%;
      }
}
